
@model DotNet.Highcharts.Highcharts

@*@(Model)*@
@*@model MultiPolls.Models.Poll*@


@{
    ViewBag.Title = "PollResults";
}
<div>
    aa
</div>
<div>
    aa
</div>
<div>
    aa
</div>
<div>
    aa
</div>
<h2>PollResults</h2>

@*<div>
   Answer A is @Html.DisplayFor(model => model.AnswerA)
</div>
<div>
    Answer B is @Html.DisplayFor(model => model.AnswerB)
</div>
<div>
    Answer C is @Html.DisplayFor(model => model.AnswerC)
</div>*@

<div>
    here
</div>
@*<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>*@
@(Model)
<div>
    here
</div>

