
@model DotNet.Highcharts.Highcharts

@*@(Model)*@
@*@model MultiPolls.Models.Poll*@


@{
    ViewBag.Title = "PollResults";
}

<div class="centre">
    <h2 class="poll-heading centre">Poll Results</h2>

   
    @(Model)


</div>