@{
    ViewBag.Title = "My Home";
}

<div id="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="classWithPad">
                <a href="#" class="push_button">
                    Push Me 1
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="classWithPad">
                <a href="#" class="push_button">
                    Push Me 2
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="classWithPad">
                <a href="#" class="push_button">
                    Push Me 3
                </a>
            </div>
        </div>
    </div>
</div>




@*<div id="body" class="image-as-links">
        @Html.ActionLink("CreateButton", "Create", "Polls", null, new { @class = "image-as-link-1" })

        @Html.ActionLink("MyPollsButton", "Index", "Polls", null, new { @class = "image-as-link-2" })

        @Html.ActionLink("PublicPollsButton", "Index", "Polls", null, new { @class = "image-as-link-3" })
    </div>*@
