@{
    ViewBag.Title = "My Home";
}

<body class="index-background">
    <div class="align-images">
       @Html.Image("~/Resources/CreatePoll.png", "This is alt text")
        <span class="image-padding-hor">
            @Html.Image("~/Resources/MyPolls.png", "This is alt text")
        </span>
       @Html.Image("~/Resources/PublicPolls.png", "This is alt text")
    </div>
</body>
