@{
    ViewBag.Title = "My Home";
}

    <div class="align-images index-background">
        @Html.Image("~/Resources/CreatePoll.png", "This is alt text")
        <span class="image-padding-hor">
            @Html.Image("~/Resources/MyPolls.png", "This is alt text")
        </span>
        @Html.Image("~/Resources/PublicPolls.png", "This is alt text")
    </div>

