.push_button{
	position:relative;
	width :100px;
	color:#FFF;
	display:block;
	text-decoration:none;
	margin-top: auto;
	border-radius:50%;
	border:solid 1px #D94E3B;
	background:#cb3b27;
	text-align:center;
	padding:1em;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	
	-webkit-box-shadow: 0px 9px 0px #84261a;
        -moz-box-shadow: 0px 9px 0px #84261a;
        box-shadow: 0px 9px 0px #84261a;
}
.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:10px;
}
.jumbotron {
    padding: 0.5em 0.6em;
    max-width: 600px;
    
/*background-image: url("/Resources/Room.png");
background-size: cover;*/
}

.left-pad{
    padding-left: 3em;
}

.left-pad2{
    padding-left: 3em;
    /*padding-right: 1em;*/
}

.left-pad3{
    padding-left: 3em;
}

.jumbot {
        font-size: 1em;
    }

/*.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}*/

 #body {
    padding-top: 70px;
    position: absolute;
    top: 40px; /* Header Height */
    bottom: 20px; /* Footer Height */
    width: 100%;
  }

.img-max-size{
    min-height: 100px;
    max-height: 200px;
}

.nav-display-inline{
    display: inline-block;
    list-style: none;
}

.navbar-right  {
    margin-top: 1.8em;

}

.navbar-mid{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: 1.8em;
}

/*.navbar-inner
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}*/

.classWithPad { 
    margin:10px;
    padding:10px;
}

#footer {
   background-color: #F5F5F5;
   bottom: 0;
   height: 60px;
   position: relative;
  width: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*.copyright {
    color: yellow;
    position: absolute;
    bottom: 5px;
    left: 10px;
}*/

.pie-home { 
    position: fixed;
    top: 150px;
    left: 5px;
}
.impress-text-color{
    color: yellow;
}

.index-background {
   background-color: black;  
}

.logo-background{
    position: fixed;
    top: 10px;
    left: 5px;
}

.vert-cent {
    list-style-type: none;
    position: fixed;
    top: 250px;
    margin:0 20px 20px 0; 
}
.align-images {
    display: inline-block;
    position: fixed;
    top: 250px;
}

.image-as-link-1, .image-as-link-2, .image-as-link-3{
     display: inline-block;
     width: 350px;
     height: 100px;
     position: absolute;
     top: 100px;
     left: 30px;
     text-indent: -9999px; 
}

.image-as-link-1 {
    background: url(/Resources/CreatePoll.png) no-repeat top left;
     position: absolute;
     top: 200px;
     left: 30px;
}

.image-as-link-2 {
    background: url(/Resources/MyPolls.png) no-repeat top left;
    position: absolute;
    top: 200px;
    left: 430px;
}

.image-as-link-3 {
    background: url(/Resources/PublicPolls.png) no-repeat top left;
    position: absolute;
    top: 200px;
    left: 830px;
}


.image-padding-hor{
    padding-right: 40px;
    padding-left: 40px;
}

.login-drop-box{
    position: fixed;
    top: 10px;
    right: 15px;
}

.hide-this{
    display: none;
}

logo-float {
    float: left
}
/*-------------------*/

.login-list{
    display: inline-block;
    /*float:left;
    height:30px;*/
    /*margin:0 10px 10px 0;*/
}

.ul-properties{
  margin: 0;
  padding: 0;
  list-style: none;
  background: #eee;
  border-bottom: 1px solid #fff;
  border-radius: 3px;  
}

#login-trigger, #signup{
  line-height: 25px;
  font-weight: bold;
  padding: 0 8px;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

#login-trigger:hover,
#login .active,
#signup a:hover {
  background: yellow;
}

#login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

#login-content {
  right: 0;
  width: 300px;  
}

#signup-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;    
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);  
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

#signup-content {
  right: 0;
  width: 300px;  
}


#inputs input{
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

#signup-inputs input{
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 238px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#signup-inputs input:focus {
    background-color: #fff;
    border-color: #e8c291;
    outline: none;
    box-shadow: 0 0 0 1px #e8c291 inset;
}

#login #actions {
  margin: 10px 0 0 0;
}

#signup #s-actions {
  margin: 10px 0 0 0;
}

#login #submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#signup #s-submit {    
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;    
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}


#login #submit:hover,
#login #submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#login #submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

#signup #s-submit:hover,
#signup #s-submit:focus {    
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
} 

#signup #s-submit:active {   
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;   
}

/*#login #submit::-moz-focus-inner {
  border: none;
}*/


#login label {
  float: right;
  line-height: 30px;
}

#signup label {
  float: right;
  line-height: 30px;
}


